<div class="pm-login-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-12 col-md-7 pm-login-presentation">
            <img src="assets/images/paonamao-login.png" alt=""/>
          </div>
          <div class="col-xs-12 col-md-5 pm-login-form">
            <div class="col-md-10 col-md-offset-2 ">
              <div class="pm-login-form-content">
                <div class="pm-login-form-header">
                  <h5 class="text-center"><b>LOGIN</b></h5>
                </div>
                <hr>
                <form name="loginForm">
                  <div class="form-group"
                       ng-class="{ 'has-error': loginForm.username.$invalid && loginForm.username.$dirty }">
                    <input type="text" name="username" class="form-control" placeholder="Usuário"
                           ng-model="vm.user.username" required>

                    <div ng-messages="loginForm.username.$error" ng-if='loginForm.username.$dirty'>
                      <p ng-message="required">Seu Usuário é requerido.</p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$dirty }">
                    <input type="password" name="password" class="form-control" placeholder="Senha"
                           ng-model="vm.user.password" ng-minlength="6" required>

                    <div ng-messages="loginForm.password.$error" ng-if='loginForm.password.$dirty'>
                      <p ng-message="minlength">Sua senha deve conter 6 ou mais caracteres.</p>

                      <p ng-message="required">Sua Senha é requerida.</p>
                    </div>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Manter logado
                    </label>
                  </div>
                  <div class="pm-login-submit">
                    <h5>
                      <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.login()"
                              ng-disabled="loginForm.$invalid">Entrar
                      </button>
                    </h5>
                  </div>
                </form>
              </div>
              <div class="pm-forgot-password">
                <a ui-sref="recover_password" class=""><b>Esqueci minha senha</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
